<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deposit customer</title>
</head>
<body>
<h1>Deposit customer</h1>
<p>
    <a href="/customer">Customer list</a>
</p>
<form th:action="@{/customer/delete}" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="text" name="id" th:value="${customer.getId()}" readonly/></td>
        </tr>
        <tr>
            <td>Full name:</td>
            <td><input type="text" th:value="${customer.getFullName()}" readonly/></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input type="text" th:value="${customer.getPhoneNumber()}" readonly/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:value="${customer.getAddress()}" readonly/></td>
        </tr>
        <tr>
            <td>Balance</td>
            <td><input type="text" th:value="${customer.getBalance()}" readonly/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Confirm Delete"></td>
        </tr>
    </table>
</form>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
</body>
</html>